*, *::before, *::after {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: chartreuse;
    height: 33vh;
}
.row{
    display: flex;
    width: 100%;
}
.col-top{
    margin: 2em 5em auto;
    max-width: 660px;
}
h1{
    font-size: 4em;
    max-width: 500px;
}
p{
    font-size: 1.5em;
    color: rgb(89, 88, 88);
}
.col_1{
    background-color: blueviolet;
    width: 50%;
}
.col_2{
    background-color: coral;
    width: 50%;
}
.row_a{
    background-color: thistle;
    height: 33.3%;

}
.row_b{
    height: 33.3%;
    background-color: wheat;
}
.row_c{
    background-color: yellowgreen;
    height: 33.3%;

}
.container_bottom{
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    background-color: chartreuse;
    height: 33vh;
}
.col_1_row_1{
    background-color: darkblue;
    width: 100%;
}
.col_2_row_1{
    background-color: darkgoldenrod;
    width: 100%;
}
.col_3_row_1{
    background-color: darkolivegreen;
    width: 100%;
}

.row_1{
    width: 100%;
    display: flex;
    height: 50%;
}


.row_2{
    width: 100%;
    display: flex;
    height: 50%;
} 


.col_1_row_2{
    background-color: deeppink;
    width: 100%;
}
.col_2_row_2{
    background-color: orange;
    width: 100%;

}
.col_3_row_2{
    background-color: teal;
    width: 100%;

}