

header {
  background: rgb(162, 226, 226);
  height: 100vh;

  button {
    align-self: center;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    background: $primaryBtn;
    border: 0px;
    border-radius: 20px;
    &:hover {
      color: black;
      background: red;
    }
  }
}
